* {
    font-family: Georgia;
}
body {
    margin: 0 0 0 180px;
    margin-left: 200px;

    background: #F5F2ED;
}
body > * {
    width: 600px;
    padding-left: 20px;
}

.results span {
    font-style: italic;
}

.faq {
    background: #C8B193;
    padding-top: 5px;
    width: 100%;
}
.faq > * {
    width: 600px;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    
    vertical-align: bottom;

    background: #283D38;
}

h1 {
    font-size: 38px;
    font-family: Helvetica;
    color: #F5F2ED;
    
    position: absolute;
    top: 25px;
    left: 37px;
    height: 300px;
    width: 500px;

    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

p {
    line-height: 24px;
}

a {
    color: #283D38;
    text-decoration: none;
    border-bottom: 1px solid black;
}

#spinner {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}