* {
    font-family: 'Ubuntu', sans-serif;
}
body {
    margin: 0 0 0 180px;
    margin-left: 200px;
}
body > * {
    width: 600px;
    padding-left: 20px;
}

.results-column {
    width: 300px;
    float: left;
}
.results-column span {
    font-style: italic;
}

.clearfix {
    clear: both;
}

.faq {
    background: #C8B193;
    padding-top: 5px;
    width: 100%;
}
.faq > * {
    width: 600px;
}

h1 {
    font-size: 38px;
    color: #283D38;
    margin: 20px 0 0 0;
}

p {
    line-height: 24px;
}

a {
    color: #283D38;
    text-decoration: none;
    border-bottom: 1px solid black;
}
